@mixin show-error {
    position:relative;
    overflow:visible;
    margin-top:40px;
    &::before{
        text-align: left;
        padding:10px;
        left:0;
        top:-40px;
        position: absolute;
        width:100%;
        min-width: 350px;
        display:inline-block;
        border-left:5px solid transparent;
        background-color: #333;
        border-radius: 4px;
    }
}

@mixin warning($message){
    @include show-error;
    &::before{
        content:$message;
        border-color: #d4d42f;
        color: #d4d42f;  
    }
}

@mixin error($message){
    @include show-error;
    &::before{
        content:$message;
        border-color: #f14e4e;
        color: #f14e4e;  
    }
}

